{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeline</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/byhand-all.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
    <link href="{% static 'fontawesome-pro-5.13.0/css/all.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.liveurl.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'fontawesome-pro-5.13.0/js/all.js' %}"></script>
</head>
<body>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">SAVE</button>

    </form>
    <button id="btn-img">Image</button>
    <div class="container mt-3" >
    <!-- Button to Open the Modal -->
    <!-- The Modal -->
    <div class="modal fade" id="changeProfile">
      <div class="modal-dialog">
        <div class="modal-content modalty">
          <!-- Modal Header -->
          <!-- Modal body -->
          <div class="modal-body pb-0 modaal">
            <form id="medphoto" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- <input type="file" name="test" value="fjbfjbhf"> -->
              <div class="col-md-12">
                <div class="col-12 flex row">
                  <div class="col-6 pto">
                    <p>Add Medical History Photo</p>
                  </div>
                  <div class="col-6 left-arrow"> <a href="javascript:window.location.reload();"><img src="img/Group 187.png"
                        alt=""></a> </div>
                </div>
                <div class="col-12 medhist1 mt-2 proimg" id="sam"> <img id="profileImg"
                    src="img/Group 188.png" alt=""> </div>
                <div class="upld">

                  <button type="button" class="filebtn">
                    <label for="files" class="filebtn1">Browse</label>
                    <input type="file" name="profile" id="files" style="display: none;" required>
                    <img src="{% static 'img/dentol.png' %}" alt="">
                  </button>
                  <p>NOTE:MAX FILE SIZE 10MB</p>
                </div>
              </div>
          </div>
          <div class="butn mt-4 pb-3">
            <button type="submit" class="btnsve1 pt-0 btnmo mt-3" id="saveBtn1" >SAVE FILE</button>
            <!--<button type="button" class="btn btn-danger btnmo" data-toggle="modal" data-target="#myModal">+CREATE GENERIC</button>-->
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
$("#btn-img").on("click" , function() {


        $('#changeProfile').modal('show');
    });
</script>
</body>
</html>






