{% extends 'base.html' %}
{% load static %}

{% block top %}
{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Settings-Edit Profile</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'build/css/intlTelInput.css' %}">
<!--<link href="css/mdb.min.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'css/byhand-all.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script	type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
{% endblock %}


{% block down%}
<!--<nav class="navbar navbar-expand-sm navbar-light bg-gradient-blue d-flex fixed-top">-->
<!--  <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-8 d-flex">-->
<!--    <div class="">-->
<!--      <button class="btn btn-outline-info btn-sm openbtn" onclick="myFunction()" id="menu-toggle"> <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span> </button>-->
<!--    </div>-->
<!--    <form action="#" method="post">-->
<!--      <div class="container row">-->
<!--        <div class="input-group search">-->
<!--          <input class="form-control py-2 border-right-0 border" type="search" id="search-input" placeholder="Search">-->
<!--          <span class="input-group-append">-->
<!--          <button class="btn btn-outline-secondary border-left-0 border bg-white" id="btn-icon" type="button"> <i class="fa fa-search  bg-blue"></i></button>-->
<!--          </span> </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-4 float-right d-flex">-->
<!--    <button class="navbar-toggler navv" type="button" data-toggle="collapse" data-target="#navbarSupportedContents"-->
<!--            aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContents">-->
<!--      <ul class="navbar-nav disp">-->
<!--        <li class="nav-item dropdown drop-noti"> <a href="notifications.html" class="btn btn-clean notification-btn"> <span class="badge badge-danger badge-corner" style="padding-top: 2px; border-radius: 50%;">8</span> <i class="far fa-bell text-white"></i> </a> </li>-->
<!--        <div class="d-flex">-->
<!--          <div class="timeline-headernav-profile"> <img src="img/g1.jpg" alt="" class="rounded-circle"> </div>-->
<!--          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle mr-5 text-white" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Annie Fab </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item text-danger logout-dropbox" href=" #">View Profile</a> <a class="dropdown-item logout-dropbox" href="#">Help</a> <a class="dropdown-item logout-dropbox" href="#">Logout</a> </div>-->
<!--          </li>-->
<!--        </div>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<div class="border-bottom bordclass"> </div>-->
<!--<div class="d-flex w-100" style="margin-top: 5rem;"  id="wrapper">-->
  <!-- Sidebar -->
<!--  <div class="border-right sidepanel" id="sidebar-wrapper">-->
<!--    <div class="col-12 my-profile mt-4">-->
<!--      <div class="profilepic-leftnav"> <img src="img/g1.jpg" alt="" style="border-radius: 50%; width: 45%;"> </div>-->
<!--      <div class="dropdown show leftside-dropdown"> <a class="btn btn-secondary dropdown-toggle border-0 text-dark text" style="background-color: transparent;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Annie Fab </a>-->
<!--        <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuLink"> <a class="dropdown-item" href="#">View Profile</a> <a class="dropdown-item" href="#">Help</a> <a class="dropdown-item" href="#">Logout</a> </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="search-leftnav col-12">-->
<!--      <input type="text" name="search" placeholder="SEARCH.." class="search2">-->
<!--      <button type="submit" class="scrhbtn"><i class="fa fa-search "></i></button>-->
<!--    </div>-->
<!--    <div class="list-group list-group-flush mt-4 left-nav"> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3570.png" alt="" > <span class="px-4 items ">Home</span> </a> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3571.png" alt="" > <span class="px-4 items ">Profile</span></a> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3572.png" alt="" > <span class="px-4 items ">Activities</span></a>-->
<!--		<a href="settings-editprofile.html" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3573.png" alt="" > <span class="px-4 items">Settings</span> </a>-->
<!--		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3569.png" alt="" > <span class="px-4 items ">Verifications</span></a> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3578.png" alt="" > <span class="px-4 items ">Share</span></a> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3575.png" alt="" > <span class="px-4 items">Help</span> </a> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="img/Group 3576.png" alt="" > <span class="px-4 items">FAQ</span> </a> </div>-->
<!--  </div>-->
  <div class="d-flex w-100" id="page-content-wrapper">
    <!-- Sidebar -->
    <div class="container-fluid">
      <div class="row m-0">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 center-scroll row-height pt-3">
          <div class="m-2 edit-profile-body">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 edit-profilee m-2">
              <div class="col-12 tab-content py-3 pl-0 px-sm-0" id="nav-tabContent">
                <div class="col-12 tab-pane active show fade px-0" id="nav-settings" role="tabpanel" aria-labelledby="nav-home-tab">
                  <ul class="nav nav-pills mb-3 d-block profile-tabs" id="pills-inner-tab" role="tablist">

                    <li class="nav-item m-2" role="presentation"> <a class="nav-link  edit btn border" id="pills-editprofile-tab" data-toggle="" href="{% url 'editprofile' %}" role="tab" aria-controls="pills-home" >Edit Profile</a> </li>
                    <li class="nav-item m-2" role="presentation"> <a class="nav-link active btn edit border" id="pills-changepsd-tab" data-toggle="" href="#nav-changePassword" role="tab" aria-controls="pills-profile"  >Change Password</a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 edit-profile-content m-2">
              <div class="col-12 tab-content py-3 px-0 px-sm-0" id="nav-inside-tabContent">



                
                
                <div class="col-12 tab-pane fade show active pl-0 pr-0" id="nav-editProfile" role="tabpanel" aria-labelledby="nav-mycards-tab">
                  <form action="#" method="post" id="msform">
                    {% csrf_token %}
                    <div class="col-12 d-flex edit-profileePswdchnge">
                     {% if bioview.image %}
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 p-0 edit-profileePhoto"> <img src="{{bioview.image.url}}  " class="img-fluid rounded-circle border p-2 avatar" alt=""> </div>
                      {% else %}
                      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 p-0 edit-profileePhoto"> <img src="{% static 'img/g1.jpg' %}" class="img-fluid rounded-circle border p-2 avatar" alt=""> </div>
                      {% endif %}
                      <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 pt-4 edit-profileePassword">
                        <h2>{% if request.user.first_name %}{{ request.user.first_name }} {% endif %} {% if request.user.last_name %}{{request.user.last_name}}{% endif %}</h2>
                        <div class="form-group d-flex pt-4">
                          <label for="Name" class="col-3 col-form-label p-0">Old Password</label>
                          <div class="col-9">
                            <input type="password" class="form-control" id="inputPassword" name="old_password" required>
                          </div>
                        </div>
                        <div class="form-group d-flex">
                          <label for="Name" class="col-3 col-form-label p-0">New Password</label>
                          <div class="col-9">
                            <input name="new_password1" id="password" type="password"   class="form-control"  onkeyup="check();" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                          </div>
                        </div>
                        <div class="form-group d-flex">
                          <label for="Name" class="col-3 col-form-label p-0">Confirm Password</label>
                          <div class="col-9">
                            <input type="password" name="new_password2" id="confirm_password" class="form-control" onKeyUp="check();" required/>
                            <span id="message"></span>
                          </div>
                        </div>
                        <div class="w-100 text-center">
                          <button type="submit" class="btn btn-primary text-center btn-bg-blue border-0" style="border-radius: 12px;">Submit</button>
                        </div>


                        {% for message in messages %}
                          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                              {{ message | safe }}
                          </div>
                        {% endfor %}


                        <div id="messages">
                          <h3>Password must contain the following:</h3>
                          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                          <p id="number" class="invalid">A <b>number</b></p>
                          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#Sidebar -->
  </div>
</div>
	 <!--          Edit Profile Picture Modal-->
            <div class="modal fade" id="editProfilePicture" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content modal-radius">
                  <div class="modal-header">
                    <h5>Edit Profile Picture</h5>
                  </div>
                  <form class="w-100" action="{% url 'changeprofile' %}" method="post" id="create-profilePicture" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="modal-body">
                      <div class="preview text-center mt-3"> <img class="img-thumbnail preview-profilePicture w-25 ml-2" src="img/DENTOL black.png" alt=""> </div>
                      <div class="add text-center mt-2">
                        <label for="upload-profilePicture"><i class="fas fa-photo-video"></i>Change Profile Picture</label>
                        <input type="file" id="upload-profilePicture" name="file" class="hidden" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4" required>
                      </div>
                    </div>
                    <div class="modal-footer border-0 text-center"> <a href="#">
                      <button type="submit" class="btn btn-primary bg-gradient-blue">Add</button>
                      </a>
                      <button type="button" class="btn btn-default border" data-dismiss="modal"> Close </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--      /Add Document Modal-->
	<script>
	document.getElementById('upload-profilePicture').addEventListener('change', function (event) {

        var file = event.target.files[0];
        var fileReader = new FileReader();
        if (file.type.match('image')) {
            fileReader.onload = function (event) {
                $('.preview-profilePicture').attr('src', event.target.result);
            };
            fileReader.readAsDataURL(file);
        }

    });
		</script>
<script src="{% static 'js/intlTelInput.js' %}"></script>
<script>
                    $("#phone").intlTelInput({
                      // allowDropdown: false,
                      // autoHideDialCode: false,
                      // autoPlaceholder: "off",
                      // dropdownContainer: "body",
                      // excludeCountries: ["us"],
                      // formatOnDisplay: false,
                      // geoIpLookup: function(callback) {
                      //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                      //     var countryCode = (resp && resp.country) ? resp.country : "";
                      //     callback(countryCode);
                      //   });
                      // },
                      // initialCountry: "auto",
                      // nationalMode: false,
                      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                      // placeholderNumberType: "MOBILE",
                      // preferredCountries: ['cn', 'jp'],
                      separateDialCode: true,
                      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"
                    });
                  </script>
<script src="{% static 'build/js/intlTelInput.js' %}"></script>
<script>
    var input = document.querySelector("#phone"),
      errorMsg = document.querySelector("#error-msg"),
      validMsg = document.querySelector("#valid-msg");
    var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    var iti = window.intlTelInput(input, {
      utilsScript: "build/js/utils.js"
    });

    var reset = function () {
      input.classList.remove("error");
      errorMsg.innerHTML = "";
      errorMsg.classList.add("hide");
      validMsg.classList.add("hide");
    };

    window.intlTelInput(input, {
      // allowDropdown: false,
      autoHideDialCode: false,
      // autoPlaceholder: "off",
      // dropdownContainer: document.body,
      // excludeCountries: ["us"],
      // formatOnDisplay: false,
      //geoIpLookup: function(callback) {
      //  $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      //    var countryCode = (resp && resp.country) ? resp.country : "";
      //    callback(countryCode);
      //  });
      // },
      // hiddenInput: "full_number",
      //initialCountry: "auto",
      // localizedCountries: { 'de': 'Deutschland' },
      // nationalMode: false,
      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
      //placeholderNumberType: "MOBILE",
      // preferredCountries: ['cn', 'jp'],
      separateDialCode: true,
      utilsScript: "build/js/utils.js",
    });


    // here, the index maps to the error code returned from getValidationError - see readme

    // on blur: validate
    input.addEventListener('blur', function () {
      reset();
      if (input.value.trim()) {
        if (iti.isValidNumber()) {
          validMsg.classList.remove("hide");
        } else {
          input.classList.add("error");
          var errorCode = iti.getValidationError();
          errorMsg.innerHTML = errorMap[errorCode];
          errorMsg.classList.remove("hide");
        }
      }
    });

    // on keyup / change flag: reset
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);
  </script>
<script>
	function myFunction(){
		var x = document.getElementById("sidebar-wrapper");
		if (x.style.display === "none") {
			x.style.display = "block";
		} else{
			x.style.display = "none";
		}
	}
//        $("#menu-toggle").click(function (e) {
//            e.preventDefault();
//            $("#sidebar-wrapper").show();
//            $("#wrapper").toggleClass("toggled");
//        });
//    </script>
<script>
		var check = function() {
  if (document.getElementById("password").value ==
    document.getElementById("confirm_password").value) {
    document.getElementById("message").style.color = 'green';
    document.getElementById("message").innerHTML = 'matching';
  } else {
    document.getElementById("message").style.color = 'red';
    document.getElementById("message").innerHTML = 'not matching';
  }
}
		</script>
<script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("messages").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("messages").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>
</body>
</html>

{% endblock %}