.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px!important;
	margin-top: 2%!important;

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
    padding: 2px 16px;
  }
.header{
	    margin-top: 8%!important;
}
  .fields{
      padding-bottom: 20px;
  }
  .edit{
      margin-top: 20px;
      padding-right: 20px;
  }
  .form-control{
      outline: none;
  }
.login{
	text-align: center;
	margin-top: 10px;
}
@media (max-width: 1200px) {
	.card{
          width: 50%!important;
      }
	 .card-header{
		  font-size: 15px!important;
	  }
	.form-group{
		  display: block!important;
	  }
	.name{
          font-size: 14px!important;
      }
}
@media (max-width: 992px) {
	.card{
          width: 50%!important;
      }
	 .card-header{
		  font-size: 11px!important;
	  }
	.form-group{
		  display: block!important;
	  }
	.name{
          font-size: 14px!important;
      }
}
@media (max-width: 768px) {
	.card{
          width: 50%!important;
      }
	 .card-header{
		  font-size: 11px!important;
	  }
	.form-group{
		  display: block!important;
	  }
	#emailHelp{
		  font-size: 12px!important;
	  }
	.name{
          font-size: 14px!important;
      }
}
  @media (max-width: 576px) {
      .card{
          width: 75%!important;
      }
	   .card-header{
		  font-size: 12px!important;
	  }
	  .form-group{
		  display: block!important;
	  }
    .form-control {
      width: 31rem !important;

    }
	  #emailHelp{
		  font-size: 9px!important;
	  }
      .name{
          font-size: 14px!important;
      }
  }
  @media (max-width: 425px) {
      .card{
          width: 75%!important;
      }
	  .card-header{
		  font-size: 8px!important;
	  }
    .form-control {
      width: 18rem !important;

    }
      .name{
          font-size: 12px!important;
      }
	  .btn{
		  font-size: 10px!important;
	  }
	  #emailHelp{
		  font-size: 9px!important;
	  }
  }
  @media (max-width: 320px) {
      .card
      {
          width: 100%!important;
      }
	   .card-header{
		  font-size: 9px!important;
	  }
	  .form-control {
      width: 11rem !important;
    }
	  .btn{
		  font-size: 10px!important;
	  }
	  #emailHelp{
		  font-size: 9px!important;
	  }
  }