.has-feedback .form-control-feedback {
    top: 33px;
  }
  .validate_cus {
    color: #a94442;
    font-size: small;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .top-row > div {
    text-align: center;
    width: 48%;
    margin-right: 4%;
  }
  .field-wrap {
    position: relative;
    margin-bottom: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s !important;
    width: 50%;
    text-align: center !important;
    height: auto !important;
    margin: 0 auto !important;
    margin-top: 2% !important;
    padding-bottom: 20px !important;
    padding-top: 0 !important;
  }
  .reset-password {
    padding: 10px !important;
  }
  input, textarea {
    font-size: 18px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #545f58;
    border-radius: 6px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:disabled {
    background: #eee;
  }
  .button:hover, .button:focus {
    background: #0b9444;
  }
  .button-block {
    display: block;
    width: 50%;
  }
  .button {
    border: 0;
    outline: none;
    border-radius: 20px;
    padding: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #187143;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  #signup-form {
    padding: 30px;
  }
  @media (max-width: 1200px) {
    .card {
      width: 50% !important;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 992px) {
    .card {
      width: 50% !important;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 768px) {
    .card {
      width: 75% !important;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 576px) {
    .card {
      width: 75% !important;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 425px) {
    .card {
      width: 100% !important;
      padding-top: 0 !important;
    }
  }
  @media (max-width: 320px) {
    .card {
      width: 100% !important;
      padding-top: 0 !important;
    }
  }