{% load static %}
{% block top %}

{% endblock %}
<nav class="navbar navbar-expand-sm navbar-light bg-gradient-blue d-flex fixed-top">
  <div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 col-12 d-flex">
    <div class="mt-2">
      <button class="btn btn-outline-info btn-sm openbtn" onclick="myFunction()" id="menu-toggle"> <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span> </button>
    </div>
    <div class="navbar-brand"><img src="{% static 'img/logoresize.png' %}" alt="">
      <p class="text-blue">Work is Worship</p>
    </div>

    <form action="{% url 'manualsearch' %}" method="get" class="pl-5">
      <div class="container row">
        <div class="input-group search" style="padding: 15px 0px 0px 0px;">
          <input class="form-control py-2 border-right-0 border" type="search" id="search-input" name="tags" placeholder="Search" required>
          <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border bg-white" id="btn-icon" type="submit"> <i class="fa fa-search" style = "color: #00b1ff;"></i></button>
          </span></div>
      </div>
    </form>
    
  </div>
  <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6 col-12 float-right d-flex">
    <button class="navbar-toggler navv" type="button" data-toggle="collapse" data-target="#navbarSupportedContents"
            aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContents">
      <ul class="navbar-nav disp">
       <li class="nav-item dropdown drop-noti d-flex"> 
			<a href="{% url 'chatroom_base' %}" class="btn btn-clean notification-btn" data-toggle="tooltip" title="chat"><span class="badge badge-danger badge-chat" style="padding-top: 2px; border-radius: 50%;">{% if onetoonechat > 0 %}{{onetoonechat}}{% endif %}</span> <i class="far fa-comment text-blue"></i> </a>
			<a href="{% url 'certificate_notification' %}" class="btn btn-clean notification-btn" data-toggle="tooltip" title="certificate notification"><span class="badge badge-danger badge-certificate" style="padding-top: 2px; border-radius: 50%;">{% if cer_count_notifications > 0 %}{{cer_count_notifications}}{% endif %}</span> <i class="far fa-file-alt text-blue"></i> </a> 
			<a href="{% url 'notification' %}" class="btn btn-clean notification-btn"  data-toggle="tooltip" title="notification"> <span class="badge badge-danger badge-corner" style="padding-top: 2px; border-radius: 50%;">{% if count_notifications > 0 %}{{count_notifications}}{% endif %}</span> <i class="far fa-bell text-blue"></i> </a> 
		  </li>
        <div class="d-flex">
          <div class="timeline-headernav-profile "> <img src="{{ request.user.bio.profile_pic}}" alt="" class="rounded-circle border p-1" height="40" width="40"> </div>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-blue logout-dropbox" href=" #">{{request.user.first_name}}</a> 
              <!-- <a class="dropdown-item logout-dropbox" href=" #">View Profile</a>  -->
              <a class="dropdown-item logout-dropbox" href="#">Help</a> 
              <a class="dropdown-item logout-dropbox" href="{% url 'logoutuser' %}">Logout</a> 
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>


<div class="border-bottom bordclass "> </div>
<div class="d-flex w-100" style="margin-top: 5rem;"  id="wrapper"> 
  <!-- Sidebar -->
  <div class="border-right sidepanel" id="sidebar-wrapper">
    <div class="col-12 my-profile mt-4">
      <div class="avatar"> <img src="{% static 'img/kaarmy.png' %}" alt="" class="rounded-circle" width="50" height="50" style="border-radius: 50%;"> </div>
      <div class="dropdown show leftside-dropdown"> <a class="btn btn-secondary dropdown-toggle border-0 text-dark bg-white btn-outline-light" style="background-color: transparent;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{request.user.first_name}} </a>
        <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuLink"> <a class="dropdown-item" href="#">View Profile</a> <a class="dropdown-item" href="#">Help</a> <a class="dropdown-item" href="#">Logout</a> </div>
      </div>
    </div>
    <div class="notify-left col-12">
      <div class="nav-item dropdown drop-noti d-flex"> 
        <a href="{% url 'chatroom_base' %}" class="btn btn-clean notification-btn" data-toggle="tooltip" title="chat"><span class="badge badge-danger badge-chat" style="padding-top: 2px; border-radius: 50%;">{% if onetoonechat > 0 %}{{onetoonechat}}{% endif %}</span> <i class="far fa-comment text-blue"></i> </a>
        <a href="{% url 'certificate_notification' %}" class="btn btn-clean notification-btn" data-toggle="tooltip" title="certificate notification"><span class="badge badge-danger badge-certificate" style="padding-top: 2px; border-radius: 50%;">{% if cer_count_notifications > 0 %}{{cer_count_notifications}}{% endif %}</span> <i class="far fa-file-alt text-blue"></i> </a> 
        <a href="{% url 'notification' %}" class="btn btn-clean notification-btn"  data-toggle="tooltip" title="notification"> <span class="badge badge-danger badge-corner" style="padding-top: 2px; border-radius: 50%;">{% if count_notifications > 0 %}{{count_notifications}}{% endif %}</span> <i class="far fa-bell text-blue"></i> </a> 
		</div>
    </div>
    <div class="search-leftnav col-12">
      <form action="{% url 'manualsearch' %}" method="get">
        <input type="text" name="tags" id="search-input" placeholder="SEARCH.." class="search2">
        <button type="submit" class="scrhbtn"><i class="fa fa-search text-blue"></i></button>
      </form>
    </div>
    <div class="list-group list-group-flush mt-4 left-nav">
		<a href="{% url 'timeline' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3570.png' %}" alt="" > <span class="px-4 py-1 items ">Home</span> </a> 
    {% if company %}
		<a href="{% url 'companyprofile' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3571.png' %}" alt="" > <span class="px-4 py-1 items ">Profile</span></a>
    {% else %}
    <a href="{% url 'userprofile' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3571.png' %}" alt="" > <span class="px-4 py-1 items ">Profile</span></a>
    {% endif %}
		<a href="{% url 'activitypost' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3572.png' %}" alt="" > <span class="px-4 py-1 items ">Activities</span></a>
		<a href="{% url 'editprofile' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3573.png' %}" alt="" > <span class="px-4 py-1 items">Settings</span> </a> 
		<a href="{% url 'verifycertificate' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3569.png' %}" alt="" > <span class="px-4 py-1 items ">Verifications</span></a>
		<a href="{% url 'share' %}" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3578.png' %}" alt="" > <span class="px-4 py-1 items ">Share</span></a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3575.png' %}" alt="" > <span class="px-4 py-1 items">Help</span> </a> 
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3576.png' %}" alt="" > <span class="px-4 py-1 items">FAQ</span> </a>
	  </div>
  </div>
  {% block down %}

    {% endblock %}